ol {
    background: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
}
ol li {
    list-style-type: decimal;
    margin-left: 20px;
}
ol li b {
    font-weight: 800;
    color: black;
}


.imgbox {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.imgbox img {
    width: auto;
    height: 280px;
    display: flex;
}
.imgcaption {
    text-align: center;
    font-size: 0.9em;
    color: #505050;
}