.item{
    
}
.itemtag {

}

.searchbar-container {
    max-width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    background-color:black;
    padding: 10px 10px;
}
.searchbar-container div {
    margin: 5px 10px;
    font-weight: 800;
    color: white;
    text-align: left;
}

.searchbar {
    max-width: 100%;
    color: white;
    border-color: white;
    display: flex;
    align-items: center;
}
.searchbar input {
    width: 100%;
    border-width: 2px;
    border-radius: 99px;
    color: white;
    border: solid white 2px;
    padding: 10px 16px;
    outline: none;
    background-color: transparent;
    font-size: 1em;
}
.searchbar button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 2.0em;
}